h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(42, 58, 39);
  text-align: center;
  text-decoration: underline;
}

body {
  background-color: rgba(92, 106, 105, 0.87);
}
.img {
  text-align: center;
  margin: 8%;
}
.lien {
  text-align: center;
  color: rgba(133, 34, 34, 0.712);
  font-size: 20px;
}
#petit {
  display: none;
  text-decoration: none;
  color: rgba(124, 43, 43, 0.719);
}
@media (max-width: 950px) {
  img {
    display: none;
  }
  #petit {
    display: block;
    text-align: center;
  }
  .lien {
    display: none;
  }
}
@media all and (min-width: 1850px) {
  h1 {
    font-size: 3em;
  }
  img {
    height: 400px;
  }
  .lien {
    font-size: 1.5em;
  }
}
@media all and (min-width: 2100px) {
  h1 {
    font-size: 4em;
  }
  img {
    height: 500px;
  }
  .lien {
    font-size: 2em;
  }
}
@media all and (min-width: 2500px) {
  h1 {
    font-size: 4.2em;
  }
  img {
    height: 550px;
  }
  .lien {
    font-size: 2.1em;
  }
}
@media all and (min-width: 3000px) {
  h1 {
    font-size: 5em;
  }
  img {
    height: 600px;
  }
  .lien {
    font-size: 2.5em;
  }
}
@media all and (min-width: 4000px) {
  h1 {
    font-size: 5em;
  }
  img {
    height: 700px;
  }
  .lien {
    font-size: 3em;
  }
}
@media all and (min-width: 5000px) {
  h1 {
    font-size: 7em;
  }
  img {
    height: 900px;
  }
  .lien {
    font-size: 4.5em;
  }
}
