h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(42, 58, 39);
  text-align: center;
  text-decoration: underline;
}
body {
  text-align: center;
  background-color:  rgb(204, 225, 225);
  padding-top: 70px;
}
.img1 {
  border: rgba(33, 85, 33, 0.575) solid 4px;
}
.img2 {
  height: 400px;
  width: 650px;
  margin-top: 4%;
  margin-bottom: 1, 5%;
  border: rgba(33, 85, 33, 0.575) solid 4px;
}
#petit {
  display: none;
}
#petit2 {
  display: none;
}
@media all and (max-width: 700px) {
  img {
    display: none;
  }
  #petit {
    display: block;
    color: rgba(175, 22, 22, 0.527);
  }
  .carte_mentale {
    display: none;
  }
  #petit2 {
    display: block;
    color: rgba(175, 22, 22, 0.527);
  }
}
@media all and (max-width: 900px) {
  #petit {
    text-align: center;
  }
}
@media all and (min-width: 1900px) {
  img {
    height: 400px;
    width: 670px;
  }
  h1 {
    font-size: 35px;
  }
}
@media all and (min-width: 2500px) {
  img {
    height: 450px;
    width: 750px;
  }
  .img2 {
    height: 450px;
    width: 750px;
  }
  h1 {
    font-size: 42px;
  }
}
@media all and (min-width: 3000px) {
  img {
    height: 470px;
    width: 770px;
  }
  .img2 {
    height: 470px;
    width: 770px;
  }
  h1 {
    font-size: 45px;
  }
}
@media all and (min-width: 3500px) {
  img {
    height: 470px;
    width: 770px;
  }
  .img2 {
    height: 470px;
    width: 770px;
  }
  h1 {
    font-size: 47px;
  }
}
@media all and (min-width: 4000px) {
  img {
    height: 700px;
    width: 1200px;
  }
  .img1 {
    border: rgba(33, 85, 33, 0.575) solid 10px;
  }
  .img2 {
    height: 700px;
    width: 1200px;
    border: rgba(33, 85, 33, 0.575) solid 10px;
  }
  h1 {
    font-size: 70px;
  }
}
@media all and (min-width: 4500px) {
  img {
    height: 750px;
    width: 1260px;
  }
  .img1 {
    border: rgba(33, 85, 33, 0.575) solid 10px;
  }
  .img2 {
    height: 750px;
    width: 1260px;
    border: rgba(33, 85, 33, 0.575) solid 10px;
  }
  h1 {
    font-size: 75px;
  }
}
