body {
  background-color:  rgb(204, 225, 225);
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(42, 58, 39);
  text-align: center;
  text-decoration: underline;
}
.Line-height {
  line-height: 3em;
}
.carte1 {
  text-align: center;
}
.carte2 {
  text-align: center;
}
img {
  height: 400px;
  width: 540px;
  border-radius: 10px;
}
.lien {
  text-align: center;
  color: rgba(133, 34, 34, 0.712);
  font-size: 20px;
}
#petit {
  display: none;
}
@media (max-width: 600px) {
  img {
    display: none;
  }
  #petit {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(133, 34, 34, 0.712);
  }
  a {
    text-decoration: none;
    color: rgba(133, 34, 34, 0.712);
  }
  .lien {
    display: none;
  }
}
@media all and (min-width: 1800px) {
  h1 {
    font-size: 3em;
  }
  img {
    height: 500px;
    width: 600px;
  }
  .lien {
    font-size: 1.5em;
  }
}
@media all and (min-width: 2100px) {
  h1 {
    font-size: 3.5em;
  }
  img {
    height: 600px;
    width: 600px;
  }
  .lien {
    font-size: 2em;
  }
}
@media all and (min-width: 2500px) {
  h1 {
    font-size: 4em;
  }
  img {
    height: 650px;
    width: 800px;
  }
  .lien {
    font-size: 2.1em;
  }
}
@media all and (min-width: 3000px) {
  h1 {
    font-size: 5em;
  }
  img {
    height: 750px;
    width: 900px;
  }
  .lien {
    font-size: 2.5em;
  }
}
@media all and (min-width: 3700px) {
  h1 {
    font-size: 5em;
  }
  img {
    height: 850px;
    width: 1100px;
  }
  .lien {
    font-size: 3em;
  }
}
@media all and (min-width: 4500px) {
  h1 {
    font-size: 7em;
  }
  img {
    height: 1000px;
    width: 1500px;
  }
  .lien {
    font-size: 5em;
  }
}
