body {
  background-color: rgba(92, 106, 105, 0.87);
  text-align: center;
}
h1 {
  color: rgb(42, 58, 39);
  text-decoration: underline;
}
h3 {
  color: rgb(42, 58, 39);
  text-decoration: underline;
}
.plan {
  margin: 2% 10% 6% 10%;
}
@media all and (min-width: 1600px) {
  h3 {
    font-size: 25px;
  }
  h1 {
    font-size: 35px;
  }
  p {
    font-size: 20px;
  }
}
@media all and (min-width: 2000px) {
  h3 {
    font-size: 32px;
  }
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 30px;
  }
}
@media all and (min-width: 3000px) {
  h3 {
    font-size: 40px;
  }
  h1 {
    font-size: 55px;
  }
  p {
    font-size: 32px;
  }
}

@media all and (min-width: 4000px) {
  h3 {
    font-size: 50px;
  }
  h1 {
    font-size: 65px;
  }
  p {
    font-size: 42px;
  }
}
